
<section id="wrapper">
  <div class="login-register">
      <div class="login-box card">
          <div class="card-body">

            <form [formGroup]="myFormUser" (ngSubmit)="loginUser()">
              <h3 class="box-title m-b-20">Iniciar Sesión</h3>

              <div class="form-group">
                <div class="col-xs-12">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" required="true"  id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="usuarioF">

                <small *ngIf="myFormUser.get('usuarioF').errors?.required">
                  *Email es requerido
              </small>

              </div>
              </div>

              <div class="form-group">
                <div class="col-xs-12">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" type="password" required="true" placeholder="password" formControlName="passwordF" >
                <small *ngIf="myFormUser.get('passwordF').errors?.required">
                  *Password es requerido
              </small>
              </div>
              </div>

              <button type="submit" class="btn btn-block btn-lg  btn-rounded btn-ingresar" >Ingresar</button>



              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                  <div class="btn-wrapper text-center">
                    <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon"><img src="../assets/imagenes/github-icon.png"></span>
                      <span class="btn-inner--text"> Github.</span>
                    </a>
                    <button href="javascript:void(0)" class="btn btn-neutral btn-icon" (click)="onLoginGoogle()">
                      <span class="btn-inner--icon"><img src="../assets/imagenes/google-icon.png"></span>
                      <span class="btn-inner--text"> Google</span>
                    </button>
                  </div>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    No tienes cuenta aún? <a routerLink="/register" class="text-info m-l-5"><b>Registrarse</b></a>
                </div>
            </div>
            <div class="form-group m-b-0">
              <div class="col-sm-12 text-center">
                  <a routerLink="/forgot" class="text-info m-l-5"><b>Olvidaste tu Contraseña? </b></a>
              </div>
          </div>


            </form>




          </div>
      </div>
  </div>
</section>



