.login-box {
  width: 400px;
  margin: 0 auto; }.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed; }

.login-box {
  width: 400px;
  margin: 0 auto; }
  .login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; }
  .login-box .social {
    display: block;
    margin-bottom: 30px; }
  .btn-reset{
    background-color: #61AC2E;
    color: white;
  }
  small{
    color: crimson;
  }
