<form >
  <div class="login-box card mt-5">
    <div class="card-body">
      <strong class="card-title text-center">Recuperar Contraseña</strong>
      <div class="form-group">
        <input    type="email"  class="form-control"  [formControl]="email" required/>
        <small *ngIf="email.errors?.required"  role="alert">
          * Ingrese su correo.
        </small>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-reset  mt-2" (click)="onReset()" >
          Enviar
        </button>
        <a  routerLink="/login" class="text-info m-l-5"><b> Sig In</b></a>

      </div>
    </div>
  </div>
  </form>
